#set($layout="/album/default.vm")
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>才艺展示</title>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" media="all" href="../css/base.css">
    <link rel="stylesheet" href="../css/styleT.css"/>
    <script src="../js/jquery-1.12.3.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
        function insertAlbum(json,base) {
            var oMain=document.querySelector('.main');
                    var json=eval('('+str+')');
                    for (var i = 0; i < json,length; i++) {
                        var oDiv = document.createElement('div');
                        oDiv.innerHTML = '<div class="video-list">\
                        <img src="'+json.lists[i].pic+'" alt="" class="main-img"/>\
                        <div class="user-message clearfix">\
                        <div class="header-page fl"><img src="'+json.lists[i].headp+'" alt="" /></div>\
                        <span class="username fl">'+json.lists[i].name+'</span>\
                        <span class="like fl">'+json.lists[i].mark+'</span>\
                        </div>\
                        <p class="describe">'+json.lists[i].describe+'</p>\
                        </div>';
                        oDiv.className='video-box col-xs-6 col-sm-4';
                        oMain.appendChild(oDiv);
                    }
                    Like();

        };

        //ajax调用数据
                function create10(pagenumber) {
        			var base = $('#baseurl').val();
        			$.getJSON(base+"/album/talentShow", { pn: pagenumber }, function (ret) {

                        if (ret.data.length > 0) {
                            insertAlbum(ret.data,base);
                        }else{
                        	 $(window).unbind('scroll');
                        	 alert("没有更多数据了 ");
                        }
                    });
                };

        //点击心形变红
        function Like(){
            var aLike=document.querySelectorAll('.like');
            for(var i=0;i<aLike.length;i++){
                aLike[i].addEventListener('click',function(){
                    this.style.background='url("../img/heart2red.png") no-repeat left center';
                });
            }
        }
        //导航栏拖拽
        function drag(oDiv){
            var x=0;
            oDiv.addEventListener('touchstart', function(ev){
                var disX=ev.targetTouches[0].pageX-x;

                function fnMove(ev){
                    var DW= document.body.offsetWidth;
                    if(DW>640){
                        DW=640;
                    }

                    var num=DW-oDiv.offsetWidth;
                    x=ev.targetTouches[0].pageX-disX;
                    if(x>0){
                        x=0;
                    }
                    if(x<num){
                        x=num;
                    }
                    oDiv.style.WebkitTransform='translate('+x+'px)';
                }
                function fnEnd(){
                    document.removeEventListener('touchmove', fnMove, false);
                    document.removeEventListener('touchend', fnEnd, false);
                }
                document.addEventListener('touchmove', fnMove, false);
                document.addEventListener('touchend', fnEnd, false);

                ev.preventDefault();
            }, false);
        }

        document.addEventListener('DOMContentLoaded', function(){
            var oDiv=document.querySelector('.title-list');
            var oMain=document.querySelector('.main');
            var aLi=oDiv.querySelectorAll('li');
            drag(oDiv);//导航栏拖拽
            //生成10个元素
            create10();

            for(var j=0;j<aLi.length;j++){
                aLi[j].addEventListener('touchend',function(){
                    for(var k=0;k<aLi.length;k++){
                        aLi[k].className='';
                    }
                    this.className='on';
                    oMain.innerHTML='';
                    create10();
                });
            }

            //加载元素
            window.onscroll = function () {
                var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                var clientH = document.documentElement.clientHeight;
                var scrollBottom = scrollTop + clientH;
                if (scrollBottom >= document.body.scrollHeight) {
                    create10();
                }
            };
        }, false);

    </script>
</head>
<body>
    <input id="baseurl" type="hidden" name="baseurl" value="$base" />
    <div class="container w640">
        <header>
            <ul class="title-list">
                <li class="on">女神</li>
                <li>最热</li>
                <li>绝招</li>
                <li>唱歌</li>
                <li>跳舞</li>
                <li>逗比</li>
                <li>动物</li>
                <li>美图</li>
                <li>舞蹈</li>
                <li>dota</li>
                <li>游戏</li>
                <li>中二</li>
            </ul>
        </header>
        <div class="main">

        </div>
    </div>
</body>
</html>